h2 {
        
    color: #a51c33;
    text-align: center;
    font-family: 'Lexend';
    font-size: xx-large;
    
  } 
.container {
    display:flex
    justify-content: center;
    align-items: center;
    padding: 100px;
    border: 2px solid #a51c33;
    overflow: hidden;
    background-color: #fff8db ; 
    border-radius: 50px;
  }

.box {
  
    background-color: #a51c33;
    color: white;
    font-family: 'Lexend';
    text-align: center;
    border-radius: 10px;
    font-size: 60px;
    padding: 60px;
}

img {
    width: 300px;
    height: 300px;
    border-radius: 20%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    float: left;
    margin-right: 50px;
  }


h1 {
  size: 205px;
    font-family: 'Lexend';
    color: #a51c33;
  }

  p {
    font-family: 'fredoka';
    color: #a51c33;
    font-size: 30px;
    line-height: 1.5;
  }

hr {
    border: 0;
    height: 1px;
    background: #a51c33;
    margin: 20px 0;
  }

body {
    background-color: #fff8db;
    padding: 100px
  }

button {
    background-color: #a51c33;
    color: white;
    font-family: 'Lexend';
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
}

input {
    font-family: 'Lexend';
    font-size: 20px;
    padding: 10px;
    border: 2px solid #a51c33;
    border-radius: 5px;
    width: 100px;
    text-align: center;
}